body {
	font-size: 17px;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    background-color: #fff;
    color: #333;
    font-style: normal;
}

a {
	color: inherit;
	text-decoration: none;
}

header {
	background: rgba(0,0,0,0.8);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

header nav {
	max-width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

header nav a {
	color: white;
	font-size: 14px;
    line-height: 3.14286;
    font-weight: 400;
	letter-spacing: -.01em;
	
	display: inline-block;
    padding: 0 10px;
    height: 44px;
    opacity: 1;
    background: no-repeat;

    white-space: nowrap;
    transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-tap-highlight-color: transparent;
    outline-offset: -7px;
}